# Common
NODE_ENV=production

# Database
DB_USERNAME=lucid
DB_PASSWORD=lucid
DB_NAME=lucid
DB_HOST=postgres
DB_PORT=5432

# Solana / Escrow
RPC_ENDPOINT=https://api.mainnet-beta.solana.com
PAYER_MNEMONIC=replace-with-24-words
ESCROW_PORT=3002

# Backend
PORT=3000